

body {
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: aqua;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h1 {
    text-align: center;
}

form fieldset {
    border: none;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

/* button{
    width: 60px;
} */

.form-group label {
    width: 40%;
    text-align: right;
    padding-right: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.form-group input, .form-group textarea {
    width: 55%;
    padding: 5px;
}

button {
    display: block;
    /* width: ; */
    margin-left: 45%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.form-group #gen{
    margin-left : 230px;
}

.form-group #m{
    margin-left: -10px;
}

.form-group #pg{
    margin-left: 190px;
}